<footer class="shim">
  <nav>
    <ul>
      <li><%= link_to "Sign up now!", sign_up_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://rubyonrails.org">News</a></li>
    </ul>
  </nav>
</footer>